@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&family=Space+Grotesk:wght@500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.hero-pattern {
  background-color: #fcf8ff;
  background-image: radial-gradient(#e2e0fc 0.8px, #fcf8ff 0.8px);
  background-size: 24px 24px;
}

@layer base {
  body {
    @apply bg-background text-on-surface font-body;
  }
}
